@tailwind base;
@tailwind components;
@tailwind utilities;

.servicesCont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.infoDays table td {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    font-size: 12px;
}

.positionCont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

.listActive .listItems {
    position: absolute;
    display: none;
}

* {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width: 10px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #2333ab;
    border-radius: 10px;
    border: 2px solid white;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Separadores */
.skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 0;
    transform: skewY(16deg);
    transform-origin: top right;
}
